<ion-content class="login-content" padding>

  <div class="login-label">
    Login
  </div>

  <div class="login-box">
    <form>
      <ion-item>
        <ion-input type="text" placeholder="Usuário" [(ngModel)]="registerCredentials.login" name="login" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="password" placeholder="Senha" [(ngModel)]="registerCredentials.pass" name="pass" required></ion-input>
      </ion-item>

      <ion-row>
        <ion-col class="signup-col">          
          <ion-button (click)="login()">Entrar</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <button ion-button (click)="presentAlertPrompt()" style="background-color: white">Esqueceu sua senha?</button>
        </ion-col>
      </ion-row>
    </form>
  </div>

</ion-content>