<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-title>
        Lista de Turmas
      </ion-title>
      <ion-button slot="end" buttonType="bar-button" (click)="novaTurma()">
        <ion-icon slot="icon-only" name="add-circle"></ion-icon>
      </ion-button>
    </ion-buttons>    
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-searchbar (ionInput)="onInputSearch($event)"></ion-searchbar>

  <ion-list>
    <ion-item *ngFor="let t of turmas" (click)="showClassDetail(t.id)">
      {{t.nome}}
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Carregando mais itens...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>